$body-bgColor:  #fff !default;

$primaryColor:  #000 !default;
$secondryColor: #35395B !default;
$textWhite : #fff;
$font-primaryColor:  $primaryColor !default;
$font-secondryColor: $secondryColor !default;

$text__size--default: 16 !default;
