$body-bgColor : #fff !default;
$primaryColor : #000 !default;
$secondaryColor: #35395B !default;
$textWhite: #fff;
$font-primaryColor : $primaryColor !default;
$font-secondaryColor: $secondaryColor !default;
$text__size--default: 16 !default;